{
    "presets": [
        ["es2015", { "modules": false }],
        "react"
    ],
    "plugins": [
        "syntax-async-functions",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-regenerator"
    ],
    "env": {
        "CommonJS": {
            "presets": [
                "es2015"
            ],
            // For some reason this duplicate is needed
            "plugins": [
                "transform-class-properties"
            ]
        }
    }
}
